<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Le bloc <application> contient toutes les infos principales de l'app -->
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurfSpots"
        tools:targetApi="31">

        <activity android:name="com.example.surfspotsxml.SpotDetailActivity" />

        <activity android:name="com.example.surfspotsxml.SpotsActivity" />
        <activity
            android:name="com.example.surfspotsxml.MainActivity"
            android:exported="true">

            <!-- Indique que cette activité est celle qui démarre l'application -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


    <!-- Permission demandée pour pouvoir accéder à Internet -->
    <uses-permission android:name="android.permission.INTERNET" />


</manifest>

    <!-- L'activité qui contient MAIN + LAUNCHER est l'écran d'accueil de l'application.
Les autres activités (SpotsActivity, SpotDetailActivity) sont appelées avec des intents.
La permission INTERNET est nécessaire même si tu charges juste une image depuis une URL avec Glide. -->